/* ИНФОРМАЦИЯ ИЗ ТЗ
 Предположим, вы выбрали основной тёмную тему. Опишем структуру кода внутри файлов стилей.
Файл variables.css:
:root {
 Переменные тёмной темы 
}
Файл dark.css:
:root.theme-dark {
   Дублируем переменные для тёмной темы 
}

:root.theme-light {
  Переменные светлой темы  
}

Остальные стили, только при необходимости 

@media (prefers-color-scheme: light) {
  :root {
    Дублируем переменные светлой темы 
}
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --outline-hover-button: 50, 49, 45;
  --line-accent-color: #353430;
  --title-color: #353430;
  --cover-title: #ffc2e6;
  --paragraph-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --decor-accent-color: #353430;
  --article-topic-accent-color: #353430;
  --menu-buttons-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --outline-hover-button: 50, 49, 45;
    --line-accent-color: #353430;
    --title-color: #353430;
    --cover-title: #ffc2e6;
    --paragraph-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --decor-accent-color: #353430;
    --article-topic-accent-color: #353430;
    --menu-buttons-color: #353430;
  }

  .theme-auto .corner-decor-element {
    display: none;
  }
}

.theme-light .corner-decor-element {
  display: none;
}
